.common-list {
  @include clear-lists-style;
  margin-right: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba($color: $layout-dark--darker, $alpha: 0.5);

  @media (max-width: $mobile-width-only) {
    margin-right: 70px;
    margin-bottom: 20px;

    &:nth-child(2n),
    &:last-of-type {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.common-list__element {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
