.main-nav-list {
  @include clear-lists-style;
  display: flex;
}

.main-nav-list__item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }
}

.main-nav-list__link {
  color: $layout-dark--darker;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
