.offers {
  padding-left: 238px;
  padding-right: 238px;
  background-image: url("../img/map.svg");
  background-repeat: no-repeat;
  background-position: center 25%;
}

.offers__nav {
  padding-right: 407px;
  padding-left: 138px;
}
