.page {
  height: 100%;
}

.page__body {
  // font-family: @alternative-font;
  // font-size: 14px;
  // line-height: 18px;
  // color: @special_dark-grey;

  min-height: 100%;
  margin: 0;
  // background-color: @white;

  min-width: 300px;

  display: flex;
  flex-direction: column;
}
