.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;

  padding-top: 39px;
  padding-bottom: 38px;
  padding-right: 386px;
  padding-left: 375px;
}

.page-header__info-wrapper {
  display: flex;
}

.page-header__logo-wrapper {
  display: flex;
}

.page-header__img {
  min-width: 57px;
  min-height: 22px;
}
