// Colors-layout
$layout-dark: #2c2e3f;
$layout-dark--darker: #141517;
$layout-red: #fe7865;
$layout-red--darker: #f17d4b;
$layout-grey: #fbf8f8;
$layout-grey--darker: #e5e5e5;

//My colors
$white: #ffffff;
$black: #000000;

//Fonts
$default-font: "Montserrat", "Arial", sans-serif;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
